/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Manrope:wght@600&display=swap');

/* Variables */

:root {
  --clr-red:         hsl(356, 82%, 51%);
  --clr-dark-red:    hsl(356, 82%, 35%);
  --clr-light-red:   hsl(356, 82%, 85%);
  --clr-blue:        hsl(224, 55%, 37%);
  --clr-dark-blue:   hsl(224, 55%, 21%);
  --clr-light-blue:  hsl(224, 55%, 87%);
  --clr-green:       hsl(120, 50%, 45%);
  --clr-light-green: hsl(120, 50%, 79%);
  --clr-white:       white;
  --ff-primary:      'Manrope', sans-serif;
  --ff-secondary:    'Exo 2', sans-serif;
  --box-shadow-step: 3px;
  --box-shadow-border:
    inset 0 0 0   var(--box-shadow-step)           var(--clr-red),
    inset 0 0 0   calc(var(--box-shadow-step) * 2) var(--clr-white),
    inset 0 0 0   calc(var(--box-shadow-step) * 3) var(--clr-blue),
          0 0 4px var(--box-shadow-step)           rgba(0, 0, 0, .25);
  --box-shadow-border-bottom:
    inset 0 calc(var(--box-shadow-step) * -1) 0   0 var(--clr-red),
    inset 0 calc(var(--box-shadow-step) * -2) 0   0 var(--clr-white),
    inset 0 calc(var(--box-shadow-step) * -3) 0   0 var(--clr-blue),
          0 var(--box-shadow-step)            4px 0 rgba(0, 0, 0, .25);
  --logo-size: 120px;
  --navbar-height: calc(var(--box-shadow-step) * 3 + 59px);
  scroll-padding-top: calc(var(--navbar-height) + 2rem);
  scroll-behavior: smooth;
}

/* Preset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}

/* COMPONENTS */

/* Container */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1296px;
  box-sizing: content-box;
}

/* Section separator */

/* .section-separator {
  margin-top: calc(var(--box-shadow-step) * -3);
  padding-bottom: calc(var(--box-shadow-step) * 3);
}

.section-separator > div {
  height: calc(var(--box-shadow-step) * 3);
  box-shadow: var(--box-shadow-border-bottom);
} */

/* Logo */

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: var(--box-shadow-border);
}

/* Icon */

.icon {
  background: center/contain no-repeat;
}

/* Buttons */

.btn {
  padding: 0.611em 1em;
  width: fit-content;
  border-radius: .277em;
  font-size: 18px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

[class*=btn_outline-] {
  border: .066em solid currentColor;
  background-color: transparent;
}

/* Buttons::Red */

.btn_outline-red {
  color: var(--clr-red);
}

.btn_outline-red:hover {
  background-color: var(--clr-red);
  color: var(--clr-white);
}

/* HEADER */

.header.container {
  --top-strip-height: 53px;
  padding: 0;
  position: sticky;
  z-index: 100;
  top: calc(var(--top-strip-height) * -1);
}

.header > * {
  margin-left: calc(var(--logo-size) / 2);
  padding-left: calc(var(--logo-size) / 2 + 20px);
  padding-right: 20px;
}

/* Top Strip */

.top-strip {
  height: var(--top-strip-height);
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-white);
  font-size: 16px;
  color: var(--clr-blue);
}

.top-strip .phone__icon {
  background-image: url(img/phone_green.svg);
}

.top-strip .phone__text {
  color: var(--clr-green);
}

.address,
.working-hours,
.phone,
.email {
  display: flex;
  align-items: center;
}

.address__icon,
.working-hours__icon,
.phone__icon,
.email__icon {
  flex: none;
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

/* Address */

.address__icon {
  background-image: url(img/geo.svg);
}

.address__text {
  font-style: normal;
}

.address__text .small {
  font-size: 13px;
}

/* Working Hours */

.working-hours__icon {
  background-image: url(img/clock.svg);
}

/* Phone */

.phone__icon {
  background-image: url(img/phone.svg);
}

.phone__text {
  font-size: 20px;
}

.phone__text:hover {
  text-decoration: underline;
}

/* Email */

.email__icon {
  background-image: url(img/email.svg);
}

/* Navbar */

.navbar {
  position: relative;
  padding-bottom: calc(var(--box-shadow-step) * 3);
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light-blue);
  border-top-right-radius: 5px;
  box-shadow: var(--box-shadow-border-bottom);
}

.navbar .logo {
  position: absolute;
  left: calc(var(--logo-size) / 2 * -1);
  bottom: 0;
  transition: transform .5s, bottom .5s;
}

/* Logo with Text */

.logo-w-text__link {
  display: flex;
  align-items: center;
}

.logo-w-text__link > * {
  flex: none;
}

.logo-w-text__text {
  font: 600 24px var(--ff-primary);
  color: var(--clr-dark-blue);
}

/* Nav-list */

.nav-list {
  display: flex;
  font-size: 20px;
  color: var(--clr-blue);
}

.nav-list__item:not(:first-child) {
  margin-left: 60px;
}

.nav-list__link {
  transition: color .15s ease-in-out;
}

.nav-list__link:hover {
  color: var(--clr-dark-blue);
}

/* Nav-list Collapse */

.navbar__collapse-btn {
  display: none;
  width: 40px;
  height: 40px;
  background: url(img/menu.svg) center/contain no-repeat;
  border: none;
  outline-offset: 5px;
  outline-color: var(--clr-blue);
}

/* MAIN */

/* Hero */

.hero.container {
  --rows-quantity: 5;
  padding-top: min(100px, 11.18vw);
  padding-bottom: min(111px, 10.07vw);
  padding-left: min(20px, 3vw);
  padding-right: min(20px, 3vw);
  max-width: 1076px;
  display: grid;
  grid-template: repeat(calc(var(--rows-quantity) + 1), auto) / max-content auto;
}

.hero__title {
  font: 600 clamp(26px, 4.67vw, 36px) var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-blue);
}

.hero__sub-title {
  margin-top: 31px;
  padding: 5px 14px;
  display: flex;
  width: fit-content;
  flex-flow: wrap;
  align-items: center;
  border-radius: 5px;
  background-color: var(--clr-light-red);
  font: 600 clamp(30px, 5.45vw, 42px) var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-red);
}

.hero__sub-title .small {
  margin-left: 22px;
  font: clamp(18px, 3.64vw, 24px) var(--ff-secondary);
  text-transform: none;
  color: var(--clr-dark-red);
}

.hero__text {
  margin-top: 25px;
  max-width: 493px;
  font-size: 24px;
  color: var(--clr-dark-blue);
}

.hero__list {
  list-style: disc;
  margin-top: 37px;
  margin-left: 34px;
  font-size: 22px;
}

.hero__list-item::marker {
  color: var(--clr-blue);
}

.hero__list-item {
  color: var(--clr-green);
}

.hero__list-item:not(:first-of-type) { margin-top: 12px }

.hero__btn {
  justify-self: flex-start;
  margin-top: 39px;
}

.hero__img {
  grid-column-end: -1;
  grid-row: 1 / -1;
  object-fit: contain;
  z-index: -10;
  margin-top: 35px;
  margin-left: -53px;
  width: min(90vw, 557px);
}

/* Manufacturers */

.manufacturers {
  background-color: var(--clr-light-blue);
}

.manufacturers__list {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
}

.manufacturers__item {
  margin: 30px 20px;
}

.manufacturers__img[src="img/prins.svg"] {
  margin-bottom: 30px;
}

/* About us */

.about-us.container {
  padding: 150px 0;
  max-width: 1005.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* About us::Tiles */

.tile {
  --pseudoelement-offset-x: 7.11%;
  position: relative;
  padding: 0 min(51px, 10.5vw) min(54px, 11vw);
  width: min(400px, 80vw);
  min-height: 404px;
  background-color: var(--clr-white);
  border: 3px solid var(--clr-red);
  border-radius: 5px;
}

.tile::after {
  content: '';
  position: absolute;
  z-index: -10;
  top: -4.16%;
  width: inherit;
  min-height: inherit;
  border: inherit;
  border-color: var(--clr-blue);
  border-radius: inherit;
}

.tile_left {
  box-shadow: -3px 4px 4px rgba(196, 196, 196, .75);
}

.tile_right {
  box-shadow: 3px 4px 4px rgba(196, 196, 196, .75);
}

.tile__title {
  --title-block-offset-x: -14px;
  position: absolute;
  margin-top: 53px;
  width: clamp(250px, 70vw, 340px);
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-green);
  font: 500 27px var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-white);
}

.tile_left .tile__title {
  left: -14px;
  box-shadow: 2px 4px 4px rgba(196, 196, 196, .75);
}

.tile_right .tile__title {
  right: -14px;
  box-shadow: -2px 4px 4px rgba(196, 196, 196, .75);
}

.tile__text {
  margin-top: 157px;
  font-size: clamp(18px, 4.73vw, 23px);
  color: var(--clr-blue);
}

.tile_right .tile__text {
  text-align: right;
  font-size: clamp(21px, 5.34vw, 26px);
}

.tile_left::after {
  left: var(--pseudoelement-offset-x);
}

.tile_right::after {
  right: var(--pseudoelement-offset-x);
}

/* About us::Logo */

.about-us__logo {
  flex: none;
  z-index: 5;
  transform: scale(1.5);
}

/* Services */

.services.container {
  padding-bottom: 100px;
}

.services__list {
  --row-gap: 50px;
  margin-bottom: calc(var(--row-gap) * -1);
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.services__item {
  margin: 0 25px var(--row-gap);
  position: relative;
  width: 350px;
  height: 191px;
  display: flex;
  border-radius: 5px;
  box-shadow:
    0   0   0    2px var(--clr-green),
    1px 2px 10px 2px rgba(0, 0, 0, .5);
}

.services__item::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: center/cover no-repeat;
  border-radius: inherit;
  
}

.services__item:first-of-type::after {
  background-image: url(img/diagnostic.jpg);
}

.services__item:nth-of-type(2)::after {
  background-image: url(img/repair.jpg);
}

.services__item:nth-of-type(3)::after {
  background-image: url(img/register.jpg);
}

.services__item:nth-of-type(4)::after {
  background-image: url(img/spares.jpg);
}

.services__item:nth-of-type(5)::after {
  background-image: url(img/cylinders.jpg);
}

.services__item:nth-of-type(6)::after {
  background-image: url(img/chassis.jpg);
}

.services__title-area {
  --height: 95px;
  align-self: flex-end;
  padding: 18px 45px 17px 20px;
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  border-radius: inherit;
  border-top-right-radius: var(--height);
}

.services__title {
  font-size: clamp(18px, 4.8vw, 22px);
  color: var(--clr-blue);
}

.services .highlight {
  color: var(--clr-red);
}

/* Works */

.works, .locale {
  margin-bottom: 150px;
}

.works__title, .locale__title {
  font: 600 clamp(26px, 4.67vw, 36px) var(--ff-primary);
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-blue);
}

.works__wrapper, .locale__wrapper {
  position: relative;
}

.works__slider, .locale__slider {
  margin-top: 40px;
  max-width: 1153px;
  height: 100%;
}

.works__item, .locale__item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-green);
  border: 3px solid var(--clr-light-blue);
  border-radius: 5px;
  box-shadow: 3px 4px 4px rgba(196, 196, 196, .75);
}

.works__img, .locale__img {
  object-fit: cover;
  border-radius: 5px;
}

.works__prev-btn, .locale__prev-btn,
.works__next-btn, .locale__next-btn {

}

.works__pagination,
.locale__pagination {
  left: 50%;
  transform: translateX(-50%);
  bottom: -46px;
}

.works__pagination > *,
.locale__pagination > * {
  width: 18px;
  height: 18px;
  border-radius: 0;
  background-color: var(--clr-blue);
}

.swiper-pagination-bullet-active {
  background-color: var(--clr-red);
}

.works__pagination > :not(:first-child),
.locale__pagination > :not(:first-child) {
  margin-left: 10px;
}

/* Contacts */

.contacts.container {
  margin-bottom: 150px;
  max-width: 1100px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.contacts__table {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 30px;
}
.contacts__title {
  font: 500 22px var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-red);
}
.contacts__value {
  font-weight: 500;
  font-size: 20px;
  color: var(--clr-blue);
}
.contacts__driving-directions {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.contacts__gif {
  flex: none;
  width: 300px;
  height: 300px;
  background-color: var(--clr-light-green);
  border-radius: 5px;
  box-shadow: 0 0 0 3px var(--clr-green);
}
.contacts__map {
  flex: none;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px var(--clr-green);
}

/* Footer */

.footer {
  padding-bottom: 70px;
  background-color: var(--clr-light-blue);
  font-size: 19px;
  color: var(--clr-blue);
}

.footer__container.container {
  display: flex;
  justify-content: space-between;
}

.footer__container > * {
  margin-top: min(70px, 5.65vw);
}

.footer__logo-w-text .logo-w-text__text {
  margin-left: 24px;
}

.footer__title {
  margin-bottom: 30px;
  font: 500 21px var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-red);
}

.footer__list > * + * {
  margin-top: 22px;
}

.footer__services {
  max-width: 306px;
}

.footer__service {
  transition: color .15s ease-in-out;
}

.footer__service:hover {
  color: var(--clr-dark-blue);
}

.footer__contacts {
  max-width: 398px;
}

.footer__contacts .icon {
  margin-right: min(32px, 2.6vw);
  width: 32px;
  height: 32px;
}

.footer__contacts .small {
  font-size: 16px;
}

.footer .phone__text,
.footer .email__text {
  font-size: clamp(20px, 1.8vw, 23px);
}

/* MEDIA QUERIES */

@media (max-width: 1240px) {
  .footer__container.container {
    flex-flow: column;
    align-items: center;
  }
}

@media (max-width: 1116px) {
  .top-strip .working-hours {
    display: none;
  }
  .hero.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
  }
  .hero__img {
    margin-top: 0;
    margin-left: 0;
  }
  .about-us.container {
    padding: 100px 0;
    flex-flow: column;
  }
}

@media (max-width: 968px) {
  .top-strip .address {
    display: none;
  }
  .top-strip {
    justify-content: flex-end;
  }
  .navbar__collapse {
    position: relative;
  }
  .navbar__nav-list {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: calc(var(--navbar-height) - 1rem);
    border: 2px solid var(--clr-green);
    border-radius: 5px;
  }
  .navbar__collapse-btn.active ~ .navbar__nav-list {
    display: block;
  }
  .navbar .nav-list__item:not(:first-child) {
    margin-left: 0;
  }
  .navbar .nav-list__link {
    display: block;
    padding: 20px 40px;
    background-color: var(--clr-light-blue);
    text-align: center;
  }
  .navbar .nav-list__item:not(:first-child) .nav-list__link {
    border-top: 1px solid var(--clr-blue);
  }
  .navbar__collapse-btn {
    display: block;
  }
}

@media (max-width: 530px) {
  .logo-w-text__text {
    display: none;
  }
}

@media (max-width: 400px) {
  .top-strip .phone {
    display: none;
  }
}