/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Manrope:wght@600&display=swap');

/* Variables */

:root {
  --clr-red:        hsl(356, 82%, 51%);
  --clr-dark-red:   hsl(356, 82%, 35%);
  --clr-light-red:  hsl(356, 82%, 85%);
  --clr-blue:       hsl(224, 55%, 37%);
  --clr-dark-blue:  hsl(224, 55%, 21%);
  --clr-light-blue: hsl(224, 55%, 87%);
  --clr-white:      white;
  --ff-primary:     'Manrope', sans-serif;
  --ff-secondary:   'Exo 2', sans-serif;
  --box-shadow-step: 3px;
  --box-shadow-border:
    inset 0 0 0   var(--box-shadow-step)           var(--clr-red),
    inset 0 0 0   calc(var(--box-shadow-step) * 2) var(--clr-white),
    inset 0 0 0   calc(var(--box-shadow-step) * 3) var(--clr-blue),
          0 0 4px var(--box-shadow-step)           rgba(0, 0, 0, .25);
  --box-shadow-border-bottom:
    inset 0 calc(var(--box-shadow-step) * -1) 0   0 var(--clr-red),
    inset 0 calc(var(--box-shadow-step) * -2) 0   0 var(--clr-white),
    inset 0 calc(var(--box-shadow-step) * -3) 0   0 var(--clr-blue),
          0 var(--box-shadow-step)            4px 0 rgba(0, 0, 0, .25);
  --logo-size: 120px;
}

/* Preset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

a,
:visited {
  
  text-decoration: none;
  color: inherit;
}

/* COMPONENTS */

/* Container */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1296px;
  box-sizing: content-box;
}

/* Section separator */

.section-separator {
  margin-top: calc(var(--box-shadow-step) * -3);
  padding-bottom: calc(var(--box-shadow-step) * 3);
}

.section-separator > div {
  height: calc(var(--box-shadow-step) * 3);
  box-shadow: var(--box-shadow-border-bottom);
}

/* Logo */

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: var(--box-shadow-border);
}

/* Icon */

.icon {
  background: center/contain no-repeat;
}

/* Buttons */

.btn {
  padding: 0.611em 1em;
  width: fit-content;
  border-radius: .277em;
  font-size: 18px;
}

/* Buttons::Red */

[class*=btn_outline-] {
  border: .066em solid currentColor;
  background-color: transparent;
}

.btn_outline-red {
  color: var(--clr-red);
}

/* HEADER */

.header.container {
  --top-strip-height: 44px;
  position: sticky;
  top: calc(var(--top-strip-height) * -1);
}

.header > * {
  margin-left: calc(var(--logo-size) / 2);
  padding-left: calc(var(--logo-size) / 2 + 20px);
  padding-right: 20px;
}

/* Top Strip */

.top-strip {
  height: var(--top-strip-height);
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-white);
  font-size: 16px;
  color: var(--clr-blue);
}

.top-strip > * {
  display: flex;
  align-items: center;
}

.top-strip .icon {
  flex: none;
  margin-right: 15px;
}

/* Address */

.address__icon {
  width: 22px;
  height: 23px;
  background-image: url(img/geo.svg);
}

.address__text {
  font-style: normal;
}

/* Working Hours */

.working-hours__icon {
  width: 22px;
  height: 23px;
  background-image: url(img/clock.svg);
}

/* Phone */

.phone__icon {
  width: 22px;
  height: 23px;
  background-image: url(img/phone.svg);
}

.phone__text {
  font-size: 20px;
  color: var(--clr-red);
}

.phone__text:hover {
  text-decoration: underline;
}

/* Navbar */

.navbar {
  --navbar-height: calc(var(--box-shadow-step) * 3 + 67px);
  position: relative;
  padding-bottom: calc(var(--box-shadow-step) * 3);
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light-blue);
  border-top-right-radius: 5px;
  box-shadow: var(--box-shadow-border-bottom);
}

/* Logo with Text */

.logo-w-text__link {
  display: flex;
  align-items: center;
}

.logo-w-text__link > * {
  flex: none;
}

.logo-w-text__text {
  font: 600 24px var(--ff-primary);
  color: var(--clr-dark-blue);
}

.logo-w-text__logo.logo {
  position: absolute;
  left: calc(var(--logo-size) / 2 * -1);
  bottom: 0;
  transition: transform .5s, bottom .5s;
}

/* Nav-list */

.nav-list {
  display: flex;
  font-size: 20px;
  color: var(--clr-blue);
}

.nav-list__item:not(:first-child) {
  margin-left: 45px;
}

.nav-list__link {
  transition: color .15s ease-in-out;
}

.nav-list__link:hover {
  color: var(--clr-dark-blue);
}

/* MAIN */

/* Hero */

.hero.container {
  --rows-quantity: 4;
  padding-top: 100px;
  padding-bottom: calc(100px - var(--box-shadow-step));
  max-width: 1076px;
  display: grid;
  grid-template: repeat(calc(var(--rows-quantity) + 1), auto) / max-content auto;
}

.hero__title {
  font: 600 36px var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-dark-blue);
  margin-bottom: 31px;
}

.hero__sub-title {
  margin-bottom: 25px;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  background-color: var(--clr-light-red);
  border-radius: 5px;
  font: 600 42px var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-red);
}

.hero__sub-title .small {
  margin-left: 22px;
  font: 24px var(--ff-secondary);
  text-transform: none;
  color: var(--clr-dark-red);
}

.hero__text {
  max-width: 493px;
  font-size: 24px;
  color: var(--clr-dark-blue);
}

.hero__img {
  z-index: -10;
  margin-top: 24px;
  margin-left: -56px;
  grid-column-end: -1;
  grid-row: 1 / -1;
}

.hero__btn {
  margin-top: 33px;
}

/* Services */

.services.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services__list {
  --row-gap: 50px;
  margin-bottom: calc(var(--row-gap) * -1);
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.services__item {
  margin: 0 25px var(--row-gap);
  position: relative;
  width: 350px;
  height: 191px;
  display: flex;
  border-radius: 5px;
}

.services__item::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: center/cover no-repeat;
  border-radius: inherit;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}

.services__item:first-of-type::after {
  background-image: url(img/diagnostic.jpg);
}

.services__item:nth-of-type(2)::after {
  background-image: url(img/diagnostic.jpg);
}

.services__item:nth-of-type(3)::after {
  background-image: url(img/diagnostic.jpg);
}

.services__item:nth-of-type(4)::after {
  background-image: url(img/diagnostic.jpg);
}

.services__item:nth-of-type(5)::after {
  background-image: url(img/diagnostic.jpg);
}

.services__title-area {
  --height: 95px;
  align-self: flex-end;
  padding: 18px 45px 17px 20px;
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  border-radius: inherit;
  border-top-right-radius: var(--height);
}

.services__title {
  font-size: 22px;
  color: var(--clr-blue);
}

.services .highlight {
  color: var(--clr-red);
}

/* MEDIA QUERIES */

@media (max-width: 1116px) {
  .hero.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  .hero__img {
    margin-left: 0;
  }
}